* {
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.textoChico{
    font-size: .8rem;
    text-align: center;
}
.textoGrande{
    font-size: 2rem;
    text-align: center;
}
.textoResaltado{
    font-size: 2rem;
    text-align: center;
    font-weight:600;
}

.anuncio{
   height: 800px; 
   size: cover; 
      
}

.conf { 
    background-image: url('../images/ba1.jpg'); 
    
    background-size: cover;
    background-position: center; 
    height: 700px;    
    opacity: 1;
    filter: brightness (0.5);
    filter: contrast(0.85);
    filter:sepia(0.2) ;
    filter: drop-shadow(0.5);
    filter: saturate(0.9);
    filter: url();

    text-align: right;
    padding-left: 45%;
    padding-right: 8%;
    padding-top: 15%; 
    color: white;
    font-weight: bold;
}

.boton{
    font-weight:bold;
}

.card {
    width: 20rem;
    background-color: rgb(241, 241, 241);
}

.card a {
    padding: .2rem .4rem .2rem .4rem;
    font-size: .7rem;
    font-weight: bold;
    border: 0;
    border-radius: 5px;    
}



 
#ban{

    padding-right: 1% ;
    
} 
.textoCiudad{
    background-color: rgb(41, 41, 41);
    padding-bottom: 2rem; 
    padding: 2rem 4rem 2rem 2rem;
    
    color: white;
}
.BsAs{
    margin-bottom: 0.5em;
    margin-top: 00.5em;
    font-size: 2em;
}
.epigrafe{
    font-size: .7rem;
    color: gray;
}

